---
layout: default
---
<div id="container">
        <div id="header">
            <hgroup>
                <div class="portrait">
                    <img id="portrait" src="img/portrait3.png" alt="Alex C. Williams" />
                </div>
                <h4 style="font-size: 20pt;padding-left: 18px; font-weight: 600;text-align: left;">Alex C. Williams</h4>
                <div class="portrait-meta">
                    PhD Student<br/>
                    School of Computer Science<br/>
                    University of Waterloo
                </div>
            </hgroup>

            <div class='contact-header'>
                CONTACT INFO
            </div>
            <div class="contact">
                alex [dot] williams [at] uwaterloo.ca</a>

                <p></p>

                <div class='contact-address'>
                    Davis Centre, <br/>
                    University of Waterloo <br/>
                    Waterloo, Ontario N2L 3G1<br/>
                </div>
            </div>

            <hr style="width: 30%;border-width: 1px;max-width: 400px;"/>
        </div>

        <div id="content">
            <div id="about" class='page-url-dest'>
                <hgroup>
                    <h3 style="font-weight: 600;font-style: italic;">Bio</h3>
                </hgroup>
                <p>
                    I'm a PhD student in the David R. Cheriton School of Computer Science at the University of Waterloo. I work with <a href="http://www.edithlaw.ca"> Edith Law</a>, and am a member of the <a href="http://hci.uwaterloo.ca">Human-Computer Interaction Lab</a>. Before joining Waterloo, I was a research scientist in the Faculty of Classics at the <a href="http://www.ox.ac.uk">University of Oxford</a>, and spent two summers as a research intern in <a href="http://www.ornl.gov">Oak Ridge National Laboratory</a>'s Biomedical Sciences and Engineering division.
                </p>
                <p>
                    My PhD work focuses on the intersection of curiosity, citizen science, and artificial intelligence. My research consolidates questions from each of these areas to better understand how we can get volunteers and crowd-workers more excited about and involved in participating in crowd-scale scientific research. 
                </p>
                <p>
                    As a research scientist, I helped design and build a variety of computational tools for studying ancient manuscripts. These tools include <a href="http://www.ancientlives.org">Ancient Lives</a>,
                    <a href="http://www.proteusproject.uk">Proteus</a>, and Greek-BLAST.
                </p>

                <hr style="width: 60%;border-width: 1px;max-width: 400px;margin-top:35px;margin-bottom:35px;"/>

                <div class='news-container'>
                    <h3 style="font-weight: 600;font-style: italic;">News</h3>
                    <ul class="news-list">
                        <li style="margin-bottom: 5px;">
                            <strong>>> <i>Jan.2017</i></strong>: I will be joining <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a> as a research intern for Summer 2017!
                        </li>
                        <li style="margin-bottom: 5px;">
                            <strong>>> <i>Dec.2016</i></strong>: I will be teaching a workshop, <i>Crowdsourcing as a Tool for Research</i>, at <a href="www.dhsi.org">DHSI 2017</a>.
                        </li>
                        <li style="margin-bottom: 5px;">
                            <strong>>> <i>Oct.2016</i></strong>: Our workshop, <i><a href="https://www.crowdcurio.com/research/workshops/chi2017/">Designing for Curiosity: An Interdisciplinary Workshop</a></i>, was accepted to CHI 2017!
                        </li>
                        <li style="margin-bottom: 5px;">
                            <strong>>> <i>Sep.2016</i></strong>: Our workshop, <i><a href="https://www.crowdcurio.com/research/workshops/cscw2017/">The Science of Citizen Science: Theories, Platforms, and Methodologies</a></i>, was accepted to CSCW 2017!
                        </li>
                    </ul>
                </div>
            </div>

            <div id="research" class='page-url-dest' style="display: none;">
                <hr style="width: 60%;border-width: 1px;max-width: 400px;margin-top:35px;margin-bottom:35px;"/>
                <h3 style="font-weight: 600;font-style: italic;">Research Area</h3>
                <div class="project">
                    <div class="project-title">
                        Curiosity, Citizen Science, and Artificial Agents
                    </div>
                    <div class="project-desc">
                        My research focuses on the intersection of curiosity, citizen science, and artificial agents. The theme of my research centers around how curiosity can be leveraged and exploited to make learners (i.e. volunteers or crowd-workers) more excited and engaged with scientific crowdsourcing tasks. 
                    </div>
                </div>

                <div class="project">
                    <div class="project-title">
                        Experimental Human-in-the-Loop Systems
                    </div>
                    <div class="project-desc">
                        My research centers around building systems that integrate human input as a computational units. Building hyrbid human-machine systems that perform complex tasks better than either human or machine could independently is non-trivial. This area of work is exploratory and open-ended.
                    </div>
                </div>

                <hr style="width: 60%;border-width: 1px;max-width: 400px;margin-top:35px;margin-bottom:35px;"/>

                <h3 style="font-weight: 600;font-style: italic;">Publications</h3>
                {% for research in site.data.research.pubs %}
                <div class="project">
                    <div class="project-title">
                        {{ research.name }}
                    </div>
                    <div class="project-desc">
                        {{ research.description }}
                    </div>
                    <br>
                    <p>
                        {% if research.thesis%}
                        <a class="thesis">Thesis</a>
                        {% endif %}
                        {% if research.pdf %}
                        <a class="file" href="{{ research.pdf}}">PDF</a>
                        {% endif %}
                    </p>
                    <blockquote><p>
                        {{ research.citation }}
                    </p></blockquote>
                </div>
                {% endfor %}
            </div>

            <div id="teaching" class='page-url-dest' style="display: none;">
                <h3 style="font-weight: 600;font-style: italic;">Teaching Experience</h3>
                <hr style="width: 80%;border-width: 1px;max-width: 400px;"/>

                <h4>University of Waterloo</h4>
                <div class="project">
                    <div class="project-title">
                        CS349: User Interfaces (<a href="https://www.student.cs.uwaterloo.ca/~cs349/w17">Winter 2017</a>)
                    </div>
                    <div class="course-role">Instructor</div>
                    <div class="project-desc">
                        This course provides an introduction to contemporary user interfaces, including the basics of human-computer interaction, the user interface design/evaluation process, and the architectures within which user interfaces are developed. Students implement and evaluate portions of typical user interfaces in a series of programming assignments
                    </div>
                </div>

                <div class="project course-other">
                    While at Waterloo, I've also had the opportunity to serve as an Instructional Apprentice or a Teaching Assistant for the following courses:
                    <ul>
                        <li>CS349: User Interfaces</li>
                        <li>CS330: Management Information Systems</li>
                    </ul>
                </div>

                <hr style="width: 80%;border-width: 1px;max-width: 400px;"/>

                <h4>Middle Tennessee State Univeristy</h4>

                <div class="project">
                    <div class="project-title">
                        CS3130: Introduction to Computer Architecture (Fall 2013, Spring 2014)
                    </div>
                    <div class="course-role">Instructor</div>
                    <div class="project-desc">
                        This course provides an introduction to assembly language programming, hardware components of digital computers, microprogramming, and memory management. The course is accompanied by a mandatory laboratory 
                        / tutorial with exercises that include assembly language programing and the design and implementation of computer architecture components, ranging from simple logic gates to complex ALUs.
                    </div>
                </div>

                <hr style="width: 30%;border-width: 1px;max-width: 400px;"/>

                <div class="project">
                    <div class="project-title">
                        CS1150: Computer Orientation (Spring 2015)
                    </div>
                    <div class="course-role">Instructor</div>
                    <div class="project-desc">
                        This course provides a general introduction to computers with an emphasis on personal computing, database, word processing, presentation graphics, spreadsheets, and Internet tools. Students are introduced and exposed to the Microsoft Office product suite.
                    </div>
                </div>

                <hr style="width: 80%;border-width: 1px;max-width: 400px;"/>

                <h4>Digital Humanites Summer Institute</h4>
                <div class="project">
                    <div class="project-title">
                        Crowdsourcing as a Tool for Research (Summer 2016, ,<a href="http://www.dhsi.org/courses.php">Summer 2017</a>)
                    </div>
                    <div class="course-role">Workshop Instructor</div>
                    <div class="project-desc">
                        This short workshop provides participants with a practical, concise introduction to crowdsourcing as a tool for research and public engagement, through a series of discussions and tutorials. The workshop is designed to educate and train scholars who have no formal training in technology. In the final stage of the workshop, participants build their own crowdsourcing projects on the <a href="">CrowdCurio</a> infrastructure.
                    </div>
                </div>
            </div>

            <div id="personal" class='page-url-dest' style="display: none;">
                <h3>Personal</h3>
                <p>
                    In my free time, I play classical guitar. A few of my favorite musicians that draw inspiration from
                    the classical guitar literature are <a href="https://www.youtube.com/watch?v=wLjG8L4nnh4">Django Reinhardt</a>,
                    <a href="https://www.youtube.com/watch?v=6f3pHYwL9kY">Plini</a>, and
                    <a href="https://www.youtube.com/watch?v=0ipv_l7KoSI">Intervals</a>.
                </p>
                <p>
                    When I lived in England, I became a Baron of the principality of <a href="http://www.sealandgov.org/">Sealand</a>.
                </p>
            </div>

        </div>
</div>