---
layout: default
---
<div id="container">
        <div id="header">
            <hgroup>
                <div class="portrait">
                    <img id="portrait" src="img/portrait6.jpg" alt="Alex C. Williams" />
                </div>
                <h4 style="color: #EA9E22; font-weight: 600;">Alex C. Williams</h4>
                <div class="portrait-meta">
                    <i>Postdoctoral Researcher</i><br>
                    School of Information and Computer Sciences<br>
                    University of California, Irvine
                </div>
            </hgroup>
            <div class="contact-header">
                <h5>CONTACT INFO</h5>
            </div>
            <div class="contact">
                alex [dot] williams [at] uwaterloo.ca

                <p></p>
            </div>

            <hr style="width: 30%;border-width: 1px;max-width: 400px;">

            <div class="profile-links" style="text-align: center;">
                <a href="https://scholar.google.ca/citations?user=WyOLLiwAAAAJ&hl=en"><img style="width: 48px" src="/img/gscholar.png" alt="Google Scholar icon"></a>

                <p></p>
            </div>
        </div>

        <div id="content">
            <div id="about" class="page-url-dest">
                <hgroup>
                    <h4>Bio</h4>
                </hgroup>
                <p>
                    I'm a postdoctoral researcher at the University of California, Irvine where I work with <a href="https://www.ics.uci.edu/~gmark/Home_page/Welcome.html">Gloria Mark</a>. In my research, I design, engineer, and study systems that help people manage their work-related transitions across tasks, devices, and environments. I earned my PhD from the University of Waterloo where I was advised by <a href="http://www.edithlaw.ca">Edith Law</a> and <a href="https://cs.uwaterloo.ca/~lank/">Edward Lank</a>.
                </p> 

                <p>
                    In the past, I've held research internships at <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a>, <a href="https://research.mozilla.org/">Mozilla Research</a>, and <a href="http://www.ornl.gov">Oak Ridge National Laboratory</a>. Before starting my PhD, I was a research scientist in the Faculty of Classics at the <a href="http://www.ox.ac.uk">University of Oxford</a>.
                </p>
                <!-- <p>
                    My CV can be found <a href="cv.pdf">here</a>.
                </p> -->

                <hr style="width: 60%;border-width: 1px;max-width: 400px;margin-top:35px;margin-bottom:35px;">

                <div class="news-container">
                    <h4>News</h4>
                    <ul class="news-list">
                        <li style="margin-bottom: 5px;">
                            <div class='news-month'>Mar 2020:</div> Our work with <a href="/pubs/chi2020-ffvoice.pdf">voice-powered web browsing with Firefox Voice</a> has been accepted to the <a href="http://www.speechinteraction.org/CHI2020/">CUI@CHI2020 workshop</a>!
                        </li>
                        <li style="margin-bottom: 5px;">
                            <div class='news-month'>Feb 2020:</div> I'm joining the University of California, Irvine as a postdoctoral researcher to work with <a href="https://www.ics.uci.edu/~gmark/Home_page/Welcome.html">Gloria Mark</a>!
                        </li>
                        <li style="margin-bottom: 5px;">
                            <div class='news-month'>Jan 2020:</div> I successfully defended <a href="/pubs/awilliams-dissertation-2020.pdf">my dissertation</a> on systems for managing work-related transitions!
                        </li> 
                        <li style="margin-bottom: 5px;">
                            <div class='news-month'>Jan 2020:</div> Our paper, <a href="/pubs/chi2020-productivity-models.pdf"><i>Optimizing for Happiness and Productivity: Modeling Opportune Moments for Transitions and Breaks at Work</i></a>, was accepted to CHI2020.
                        </li>
                        <li style="margin-bottom: 5px;">
                            <div class='news-month'>Oct 2019:</div> Our paper, <a href="/pubs/uist2019-mercury.pdf"><i>Mercury: Empowering Programmers' Mobile Practices with Microproductivity</i></a>, was featured in <a href="https://technews.acm.org/archives.cfm?fo=2019-10-oct/oct-04-2019.html">ACM Tech News</a>!
                        </li> 
                    </ul>
                </div>

                <hr style="width: 60%;border-width: 1px;max-width: 400px;margin-top:35px;margin-bottom:35px;">

                <div class="news-container">
                    <h4>Selected Publications</h4>
                    {% for research in site.data.research.pubs %}
                <div class="project">
                    <span style="font-weight: 600">
                      {{ research.name }}.
                    </span> 
                   {{ research.citation }}
                    <!-- <div class="project-desc">
                        {{ research.description }}
                    </div> -->
                    <br>
                    <p class="reference-url-btn">
                        {% if research.thesis%}
                        <a class="thesis">Thesis</a>
                        {% endif %}
                        {% if research.pdf %}
                        <a class="file" href="{{ research.pdf}}">PDF</a>
                        {% endif %}
                        {% if research.web %}
                        <a class="file-web" href="{{ research.web}}">Web</a>
                        {% endif %}
                    </p>

                    <!-- <blockquote><p>
                        {{ research.citation }}
                    </p></blockquote> -->
                </div>
                {% endfor %}
                </div>


                
            </div>

            <div id="research" class='page-url-dest' style="display: none;">
                    <h3>Research Focus</h3>
                <div class="project">
                    <div class="project-title">
                        Curiosity, Citizen Science, and Virtual Agents
                    </div>
                    <div class="project-desc">
                        My current research focuses on the intersection of curiosity, citizen science, and virtual agents. The theme of my research centers around how curiosity can be leveraged and exploited to make learners (i.e. volunteers or crowd-workers) more excited and engaged with scientific crowdsourcing tasks. 
                    </div>
                </div>

                <div class="project">
                    <div class="project-title">
                        Experimental Human-in-the-Loop Systems
                    </div>
                    <div class="project-desc">
                        My research centers around building systems that integrate human input as a computational units. Building hyrbid human-machine systems that perform complex tasks better than either human or machine could independently is non-trivial. This area of work is exploratory and open-ended.
                    </div>
                </div>

                <h3>Publications</h3>
                {% for research in site.data.research.pubs %}
                <div class="project">
                    <div class="project-title">
                        {{ research.name }}
                    </div>
                    <div class="project-desc">
                        {{ research.description }}
                    </div>
                    <br>
                    <p>
                        {% if research.thesis%}
                        <a class="thesis">Thesis</a>
                        {% endif %}
                        {% if research.pdf %}
                        <a class="file" href="{{ research.pdf}}">PDF</a>
                        {% endif %}
                    </p>
                    <blockquote><p>
                        {{ research.citation }}
                    </p></blockquote>
                </div>
                {% endfor %}
            </div>

            <div id="personal" class='page-url-dest' style="display: none;">
                <h3>Personal</h3>
                <p>
                    In my free time, I play classical guitar. A few of my favorite musicians that draw inspiration from
                    the classical guitar literature are <a href="https://www.youtube.com/watch?v=wLjG8L4nnh4">Django Reinhardt</a>,
                    <a href="https://www.youtube.com/watch?v=6f3pHYwL9kY">Plini</a>, and
                    <a href="https://www.youtube.com/watch?v=0ipv_l7KoSI">Intervals</a>.
                </p>
                <p>
                    When I lived in England, I became a Baron of the principality of <a href="http://www.sealandgov.org/">Sealand</a>.
                </p>
            </div>

        </div>
</div>