.container{
    background-color: LightGray;
    border-radius: 15px;
/* width: 50%; */
}

.nav-pills{
    background-color: White;
    text-align: right;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid #ccc; 
}

.inner{
    background-color: White;
    /*	height: 100%; */
    padding: 1px 5px 0px 5px;
    margin-top: 75px;
    border-radius: 15px;
}

.table{
    margin: auto;
    width: 90%;
}

table{
    empty-cells:show;
    border-color: black;
}


/*
  .schedule td{
  padding: 1px 20px 1px 1px; 
  }
  */

th, td {
    #padding: 3px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

hr.thin {
  margin-bottom: 0px;
}


.lab{
    background-color:LawnGreen;
}

/* Logo */

#logo {
    float: left;
    #height: 115px;
    padding: 0 0 0 0;
}

#logo * {
    text-decoration: none;
}

#logo h1 {
    float: left;
    padding: 0px 0 0 5px;
    font-size: 36px;
}

#logo h1 a {
    color: #000000;
}

#logo h1 span {
    font-weight: bold;
}

#logo h2 {
    float: left;
    padding: 20px 0 0 8px;
    font-size: 12px;
    border: none;
}

#logo h2 a {
    color: #000000;
}

#footer p {
	text-align: center;
	color: #777777;
}

h3 {
	#margin-bottom: 3px;
	#padding-bottom: 3px;
	#font-size: 16px;
	border-bottom: 1px solid #A0A0A0;
}


div.dateDescription {
   float: left;
   text-align: left;
   width:50%;
   background-color: #E0E0E0;
}

div.date {
   float: right;
   text-align: right;
   width:50%;
   background-color: #E0E0E0;
}

div.dayHeader {
   #float: right;
   text-align: right;
   #width:100%;
   background-color: #E0E0E0;
}

ol.letters {
    list-style-type:lower-alpha;

}
