@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,600,600i');

body {
	max-width: 800px;
	padding: 3em;
	margin-left: auto;
	margin-right: auto;

	font-weight: 300;
	font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.75em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

table.text-left td {
	text-align: left;
}

.new-week {
	border-top: 2px solid black;
}

.related {
	border-top: 2px solid #ffffff;
}

.due-date {
	background-color: pink;
    padding: 2px;
	border: 1px solid black;
	margin-left: 5px;
}

.placeholder-week {
	background-color: #eaeaea !important;
}

.office-hours {
	margin-top: -10px;
	margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.img-top {
	width: 250px;
    float: left;
    margin-right: 15px;
}

.class-time {
	font-size: 18px !important;
	font-size: 16px;
	font-weight: 300;
}

.instructor {
	font-size: 18px !important;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


.ta {
	font-size: 16px !important;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}

.office-hours {
	font-size: 14px !important;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}

h1 {
	font-size: 25px !important;
}

.class-name {
	font-weight: 600;
}

.no-class {
	background: #f0847d;
	border: 1px solid black;
	padding: 3px;
}

.project-class {
	background: #a9f07d;
	border: 1px solid black;
	padding: 3px;
}

.zoom-class {
	background: #89d17d;
	border: 1px solid black;
	padding: 3px;
}

.team-class {
	background: #7dbbd1;
	border: 1px solid black;
	padding: 3px;
}

.future-class {
	color: #9a9a9a;
	font-weight: 300 !important;
	font-style: italic;
}

.announcement-due-date {
	color: red;
}

.announcement-released, .announcement-released a{
	color: #4a8f3f
}

.team-prj-banner {
	border: 1px solid black;
}

.nav.nav-tabs > li.disabled {     pointer-events: none;     a {         color: silver;     } }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-weight: 600;
}